


.user-icon {
    top:153px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
    background: rgba(65,72,72,0.75) url('/resources/user-icon.png') no-repeat center;
}

.pass-icon {
    top:201px;
    background: rgba(65,72,72,0.75) url('/resources/pass-icon.png') no-repeat center;
}

